body {
  background-color: rgb(239, 204, 210) !important;
  box-sizing: border-box;
  font-family: 'MillimetreRegular' !important; 
  margin: 0;

}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  background-color: rgba(255, 255, 255, 0.866);
  margin-left:-4.5em;
  margin-right:-4.5em;
}

.navbar .navbar-brand {
  font-size: 30px;
  font-weight: 600;
}

.pink {
  color: rgb(240, 28, 138) !important;
}

.navbar .nav-item {
  padding: 10px 20px;
}

.navbar .nav-item:hover {
  text-decoration: blanchedalmond;
}

.nav-item a {
  color: black;
}

.navbar .nav-link {
  font-size: 18px;
  margin-left: 10px;
}

.navbar .nav-link:hover {
  color: black;
  background-color: #fff;
  text-decoration: none;
}

.fa-bars {
  color: rgb(240, 28, 138);
  font-size: 30px;
}

.btn-nav {
  align-items: center;
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;font-family: 'ExoRegular';
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
}


.btn-nav:active,
.btn-nav:hover {
  outline: 0;
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-nav span {
  background: #FC354C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 12px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.btn-nav span {
  /* background-color: rgb(5, 6, 45); */
  padding: 12px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  }

.btn-nav:hover span {
background: none;
}

.btn-nav:active {
transform: scale(0.9);
}

/* hero section */


.container {
  margin-top: 80px;
}

.hero_section {
  display: flex;
  justify-content: space-between;
  line-height: 2;
}


.img {
  z-index:71;
  position: relative;

}

@media (max-width: 768px) {
  .hero_section{
  flex-direction: column;   
  } 

  .hero_title h1 {
    font-family: 'MillimetreRegular'; 
    color: brown;
    font-size: 7em;
    font-weight: 600;
  }

  .search {
    position: relative;
    margin-top: -10%;
    z-index: 2;
  }


.img {
  position: absolute; 
  z-index: 1; 
  margin-right: 40px;
}
}   

.right {
  /* margin-top: 150x; */
}

.hero_title h1 {
  font-family: 'MillimetreRegular'; 
  color: black;
  font-size: 4em;
  font-weight: 600;
}

.hero_subtitle {
  display: flex;
}

.hero_subtitle h1{
  font-family: 'MillimetreRegular'; 
  color: black;
  font-size: 3em;
  font-weight: 500;
}

.hero_subtitle .ball img {
  margin-right: 20px;
}

/*search box */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  opacity: 1; 
  font-weight: 900;
}

.search-bar {
	display: flex;
}
body {
	background: #f1f1f1;
	height: 100vh;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 4em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}

/* end search form */

.show {
  width: 85%;
  border: transparent;
}

.teams {
  height: 250px;
  width: 700px;
  background-color: #A00020;
  position: absolute;
  top: 90%;
  display: flex;
  left: 15px;
  box-shadow: rgba(29, 29, 31, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.team_right {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.team_right img , .team_left img {
  margin: 5px;
  cursor: pointer;
  width: 75px;
}

.team_left {
  background-color: aliceblue;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {

  .teams{
      flex-direction: row;
      flex-wrap: wrap;
      width: 170px;
      margin-top: 10%;
      box-shadow: rgba(76, 80, 84, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  } 

  .team_right img, .team_left img {
    margin: 5px;
    cursor: pointer;
    width: 40px;
  }

  /* .search-box {
    margin-top: 40%;
  } */

  .left {
    margin-top:-180px;
  }
}   
